body {
    background-color: #080d11;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.list-group-horizontal {
    align-items: stretch;
}

.list-group-horizontal .list-group-item {
    width: 100%;
    height: 100%;
}

.list-group-horizontal .list-group-item:first-child {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-frame {
    width: 30%; 
    height: 95%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 2rem; 
    gap: 2rem;  
    border-radius: 10px;
    color: #fffcf8; 
    background-color: transparent; 
}

#page-frame {
    flex: 1; 
    display: flex; 
    width: 65%; 
    height: 95%;
    flex-direction: column;
    scroll-behavior: smooth;
    align-items: center;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    padding-block: calc((100vh - 500px) / 2);
}

.page {
    aspect-ratio: 16 / 9;
    width: 90%;
    max-width: 1920px;
    flex-shrink: 0;
    color: #fffcf8; 
    box-shadow: 0 0 15px #f0f8ff; 
    background-color: #212529; 
    padding: 2rem; 
    border-radius: 10px;
    scroll-snap-align: center;
    margin-bottom: 5%;
    font-family: system-ui, sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-word;
}

.page:last-child {
    margin-bottom: 0;
}

.page h1,
.page h2,
.page p,
.page ul,
.page li {
  margin: 0;
  padding: 0;
}




.edit-lnk {
    transition: 0.3s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.edit-lnk:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}
