<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    {% block csscripts %}{% endblock csscripts %}
    <title>S3cN0te - {{title}}</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center gap-0" href="/" style="margin-right: 2%;">
                <img src="{{ url_for('static', filename='assets/icons/secnote/bannerREM.png') }}" alt="Logo" width="160" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% block navtabs %}{% endblock navtabs %}
                <!--
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                </div>
                -->
            </div>
        </div>
    </nav>

    <div id="content-container">
        {% block content %}{% endblock content %}
    </div>

    <!--js scripts-->
    {% block jscripts %}{% endblock jscripts %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mustache.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/purify.min.js') }}"></script>
</body>
</html>
